{% extends "base.html" %}

{% block content %}
<div class="jumbotron jumbotron-fluid vertical-center">
    <div class="container mx-auto my-auto">
        {% if status == 'success' %}
            <h2 class="display-4">Ваш ответ зарегистрирован</h2>
            <p class="lead">Удостовериться в том, что ваш ответ записан можно в <a href="https://docs.google.com/spreadsheets/d/1aByJoNeXlnKtPa8Bi9jgqrhxXAA-N1ILIF4ytg2Ccmk/edit?usp=sharing">Google Таблице</a></p>
            <hr class="my-4">
            <p class="lead"><a class="btn btn-lg btn-block btn-primary" href="{{ url_for('.projects') }}">Запись на проекты</a> </p>
        {% endif %}
        {% if status == 'in_team'%}
            <p class="lead">Вы уже записались в команду</p>
            <hr class="my-4">
            <p class="lead"><a class="btn btn-lg btn-block btn-primary" href="{{ url_for('.projects') }}">Запись на проекты</a></p>
        {% endif %}
        {% if status == 'no_places'%}
            <p class="lead">Мест в выбранной вами команде уже нет. Выберите другую команду или тему проекта.</p>
            <hr class="my-4">
            <p class="lead"><a class="btn btn-lg btn-block btn-primary" href="{{ url_for('.projects') }}">Запись на проекты</a></p>
        {% endif %}
        {% if status == 'error'%}
            <p class="lead">Произошла ошибка при записи. Попробуйте позже.</p>
            <hr class="my-4">
            <p class="lead"><a class="btn btn-lg btn-block btn-primary" href="{{ url_for('.projects') }}">Запись на проекты</a></p>
        {% endif %}
    </div>
</div>
{% endblock %}