{% extends "base.html" %}

{% block content %}
<div class="jumbotron jumbotron-fluid vertical-center">
    <div class="container mx-auto my-auto">
        <h2 class="display-4">Ваш ответ зарегистрирован</h2>
        <p class="lead">Удостовериться в том, что ваш ответ записан можно в <a href="https://docs.google.com/spreadsheets/d/1xukXETuuDMrdxTXrX33FeKsbHo8KbtJZbuj9pd8MwFY/edit?usp=sharing">Google Таблице</a></p>
        <hr class="my-4">
        <p class="lead">Можно отправить еще один ответ. Можно два. Даже три.</p>
        <p class="lead"><a class="btn btn-lg btn-block btn-primary" href="{{ url_for('.projects') }}">Большая синяя кнопка</a> </p>
    </div>
</div>
{% endblock %}