{% extends "base.html" %}
{% block content %}
	<div class="row align-items-center justify-content-center h-100">
		<div class="col-sm-12 col-lg-4 col-md-7 align-self-center">
			<div class="card bg-light">
				<div class="card-header">
					{% block card_header %}
						<h4 class="h4">{% block card_title %}Записаться на проект{% endblock %}</h4>
					{% endblock %}
				</div>
				<div class="card-body">
					{% block card_body %}
					{% endblock %}
				</div>
				{% block card_footer %}
				{% endblock %}
			</div> <!-- card.// -->
		</div>
	</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/checkProjects.js') }}"></script>
{% endblock %}