{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="jumbotron mt-4">
        <h4 class="display-4">{% block error_code %}{% if error_message is defined %}{{ error_header }}{% endif %}{% endblock %}</h4>
        {% block error %}
        {% if error_message is defined %}
            {{ error_message }}
        {% endif %}
        {% endblock %}
        <hr class="my-2">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ url_for('main.index') }}" role="button">На главную</a>
        </p>
    </div>
</div>
{% endblock %}