{% extends "base.html" %}
{% block content %}
<div class="jumbotron vertical-center">
<div class="container py-3">
	<div class="row justify-content-center">
		<div class="card bg-light">
			<div class="card-header py-2">
				<h4 class="mb-1 h4">Записаться на проект</h4>
			</div>
		<div class="card-body mx-3">
			<form method="post" id="form" action="{{ url_for('main.form_response') }}">

				<div class="form-group row justify-content-between">
						<label for="fullName">ФИО</label>
                    	<div class="form-control" id="fullName" readonly="">{{ data['fullName'] }}</div>
				</div> <!-- form-group// -->

				<div class="form-group row">
					<label for="group">Учебная группа</label>
					<div id="group" class="form-control" readonly="">{{ data['group'] }}</div>
				 </div>

				<div class="form-group row">
					<label for="email">Электроная почта</label>
					<div class="form-control" readonly="" id="email">{{ data['email'] }}</div>
				</div> <!-- form-group// -->

				<div class="form-group row pt-2">
					<label for="projectSelect">Выберите проект</label>
					<select class="form-control" id="projectSelect" required name="entry.1716975243">
						<option selected="" value="">Выберите проект</option>
                        {% for project_theme in themes %}
							<option>{{ project_theme }}</option>
						{% endfor %}
					</select>
				</div> <!-- form-group end.// -->
				{% block team_select %}
					<div id="teamSelectDiv" class="row pt-2">
					</div>
                {% endblock %}
				<input type="hidden" name="entry.1716975243_sentinel" value="">
				<input type="hidden" name="fvv" value="1">
				<input type="hidden" name="pageHistory" value="0">
				<input type="hidden" name="draftResponse" value="[]">

				<div class="form-group row my-4">
					<button type="submit" class="btn btn-lg btn-success btn-block"> Отправить  </button>
				</div> <!-- form-group// -->

			</form>
		</div>
		</div> <!-- card.// -->
	</div>
</div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/checkProjects.js') }}"></script>
{% endblock %}