{% extends "base.html" %}
{% block styles %}
<style>
    .btn-secondary {
        background-color: #e9ecef;
    }
</style>
{% endblock %}
{% block content %}
    <div class="row align-items-center justify-content-center h-75">
        <div class="mt-4 card-deck text-center">
            <div class="card box-shadow w-75">
                <div class="card-header">
                    <h4 class="display4">Записаться на проект</h4>
                </div>
                <div class="card-body">
                        <h6 class="mt-2">Войти с использованием учетной записи:</h6>
                        <a class="btn btn-secondary btn-block text-dark d-inline-block" href="{{ url_for('.login') }}">
                            <img src="{{ url_for('static', filename='images/logo_sfedu.png') }}" width="30" height="30" class=""> Войти
                        </a>
                </div>
            </div>
    </div>
</div>

{% endblock %}