{% extends "card.html" %}
{% block styles %}
<style>
	.dropdown-header {
		padding: 0 1rem;
	}
	.dropdown-divider {
		margin: 0.25rem 0;
	}
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css" integrity="sha512-ARJR74swou2y0Q2V9k0GbzQ/5vJ2RBSoCWokg4zkfM29Fb3vZEQyv0iWBMW/yvKgyHSR/7D64pFMmU8nYmbRkg==" crossorigin="anonymous" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/spinner-border-my.css') }}">
{% endblock %}
{% block title %} Запись {% endblock %}
{% block card_body %}
<form>
	<div class="form-group row justify-content-between">
		<div class="col-lg-12 col-sm-12">
			<label for="fullName">ФИО</label>
			<div class="form-control" id="fullName" readonly="">{{ data['fullName'] }}</div>
		</div>
	</div> <!-- form-group// -->

	<div class="form-group row">
        <div class="col-12">
			<label for="group">Учебная группа</label>
			<div id="group" class="form-control" readonly="">{{ data['group'] }}</div>
		</div>
	 </div>

	<div class="form-group row">
		<div class="col-12">
			<label for="email">Электроная почта</label>
			<div class="form-control" readonly="" id="email" >{{ data['email'] }}</div>
		</div>
	</div> <!-- form-group// -->

	<div class="row py-2 justify-content-center my-3">
		<div class="col-12">
			<select id="projectSelect" class="selectpicker show-tick" data-width="500px" title="Выберите проект..." data-live-search="true" data-width="auto" data-style="btn-primary" data-size="10">
				{% for mentor, projects in projects_by_mentor.items() %}
				<optgroup label="{{ mentor }}">
					{% for proj in projects %}
					<option data-icon="circle" data-document-id="{{ proj['_id'] }}">{{ proj['name'] | safe }}</option>
					{% endfor %}
				</optgroup>
				{% endfor %}
			</select>
		</div>
	</div>

	<div class="row justify-content-center align-items-center my-3" hidden>
		<div class="col-12">
			<div id="teamSelectDiv" class="row justify-content-center align-items-center text-center"></div>
		</div>
	</div>
</form>
{% endblock %}
{% block card_footer %}
<div class="card-footer text-center">
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/checkProjects.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js" integrity="sha512-yDlE7vpGDP7o2eftkCiPZ+yuUyEcaBwoJoIhdXv71KZWugFqEphIS3PU60lEkFaz8RxaVsMpSvQxMBaKVwA5xg==" crossorigin="anonymous"></script>
{% endblock %}