{% extends "base.html" %}
{% block title %} Запись {% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container mt-4">
        <h3 class="h3">Вы успешно записаны на проект</h3>
        <p class="lead">Вы записаны на проект "<span class="font-weight-bold">{{ project_name }}</span>" в команду № <span class="font-weight-bold">{{ team_number | striptags }}</span></p>
        <hr class="my-3">
        <p class="lead">Номер вашей ячейки в сводной таблице - <a href="{{ sheet_url | striptags }}" target="blank">{{ cell_index | striptags}}</a> </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ url_for('main.index') }}" role="button">На главную</a>
        </p>
    </div>
</div>
{% endblock %}